.progress-bar {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 2.3rem;
    background: linear-gradient(var(--background-primary-alt), var(--background-secondary) 125%);
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 0.7rem 0.0rem 0.7rem 0.0rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    z-index: inherit;
}

.is-mobile .progress-bar {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: linear-gradient(var(--background-primary-alt), var(--background-secondary) 125%)
}

.progress-bar:hover {
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

.progress-bar .left-pb {
    transition: all 0.3s ease;
    background: initial;
    border-radius: 10px;
    position: absolute;
    left: 0;
    text-align: left;
    height: 100%;
    width:5%;
    background: radial-gradient(49% 81% at 45% 47%, #77D926 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #AFD926FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #40C652FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #26D953FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #26D9ABFF 0%, #B2D926FF 100%);
}