/*
List of background image URLs

https://i.imgur.com/GbXWXJL.jpeg
https://i.imgur.com/3n59TdD.jpeg
https://i.imgur.com/zCdQocq.jpeg
https://i.imgur.com/tgJCm73.jpeg
https://i.imgur.com/XJUIIzH.jpeg
https://i.imgur.com/egHWdmn.jpeg
https://i.imgur.com/8qT1VWl.jpeg 
*/

.theme-dark .workspace{
    backdrop-filter: brightness(0.20) blur(15px);
    background-color: transparent;
}
.horizontal-main-container {
    background-image: url("https://i.imgur.com/GbXWXJL.jpeg");
    background-size: cover;
    
}
.workspace-split.mod-root {
    background-color: var(--background-primary);
}
.app-container {
    --background-primary: transparent;
    --background-secondary: transparent;
    --divider-width: 0px;
}

.menu {
    background-color: var(--background-primary);
}

.nav-files-container {
    background-color: transparent;
}