[submodule "Henry's Notes/.obsidian/plugins/obsidian-simple-mouse-gestures"]
	path = Henry's Notes/.obsidian/plugins/obsidian-simple-mouse-gestures
	url = git@github.com:habmin/obsidian-simple-mouse-gestures.git
